@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

h1,
h2,
h3,
p,
ul {
  margin-top: 0;
}

img {
  display: inline-block;
  max-width: 100%;
}

a {
  text-decoration: none;
}

.log-in-page, footer .footer-inner, .sec-info {
  padding-top: 2.8125rem;
  padding-bottom: 2.8125rem;
}
@media (max-width: 768px) {
  .log-in-page, footer .footer-inner, .sec-info {
    padding-top: 1.875rem;
    padding-bottom: 1.875rem;
  }
}

.log-in-page, footer .footer-inner, .sec-info {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
@media (max-width: 768px) {
  .log-in-page, footer .footer-inner, .sec-info {
    width: 100%;
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
  }
}

.sec-info .sec-info-cards .sec-info-card button {
  padding: 10px 0;
  width: 100%;
  font-size: 22px;
  font-weight: 700;
  border: 2px;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.4);
}
.sec-info .sec-info-cards .sec-info-card button a {
  color: rgb(21, 35, 71);
}
.sec-info .sec-info-cards .sec-info-card button:hover {
  cursor: pointer;
}

.log-in-page h1, .sec-info h1 {
  font-size: 80px;
  font-weight: 900;
  color: hsla(0, 0%, 100%, 0.6);
  text-align: center;
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  line-height: 1.5;
  background: linear-gradient(rgba(131, 234, 177, 0.7), rgba(75, 124, 243, 0.7));
  color: rgb(21, 35, 71);
}

nav {
  background: linear-gradient(rgba(118, 79, 240, 0.4), rgba(118, 79, 240, 0));
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: rgb(66, 53, 107);
  padding: 10px 100px;
  box-shadow: 0px 8px 24px 0px rgba(66, 53, 107, 0.08);
}
nav p {
  margin: 0;
}
nav div {
  display: flex;
  align-items: center;
}
nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-left: 120px;
}
nav ul li a {
  font-size: 20px;
  color: rgb(66, 53, 107);
  font-weight: 700;
  text-transform: capitalize;
  transition: all 0.2s;
}
nav ul li a:hover {
  color: rgb(255, 255, 255);
}
nav ul li:not(:last-child) {
  margin-right: 30px;
}
nav .log-in-btn {
  border: 1.6px solid rgb(66, 53, 107);
  padding: 5px 10px;
  border-radius: 10px;
  margin-right: 30px;
  font-weight: 500;
  transition: all 0.2s;
}
nav .log-in-btn:hover {
  background: white;
  cursor: pointer;
}
nav .log-in-btn img {
  margin-right: 10px;
}
nav .localization {
  text-transform: uppercase;
  margin-right: 30px;
  font-weight: 700;
}

.sec-info .sec-info-cards {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(3, 1fr);
}
.sec-info .sec-info-cards .sec-info-card {
  padding: 1.875rem;
  border-radius: 16px;
}
.sec-info .sec-info-cards .sec-info-card div {
  display: flex;
  align-items: center;
}
.sec-info .sec-info-cards .sec-info-card img {
  height: 100px;
}
.sec-info .sec-info-cards .sec-info-card .sec-info-title {
  font-size: 32px;
  font-weight: 700;
}
.sec-info .sec-info-cards .sec-info-card .details {
  padding: 2.8125rem 0;
  line-height: 32px;
}
.sec-info .sec-info-cards .purple {
  background: rgba(153, 70, 243, 0.4);
}
.sec-info .sec-info-cards .blue {
  background: rgba(75, 124, 243, 0.4);
}
.sec-info .sec-info-cards .green {
  background: rgba(131, 234, 177, 0.4);
}

footer {
  background: linear-gradient(180deg, rgba(66, 53, 107, 0.8) 0%, rgba(153, 70, 243, 0.16) 100%);
}
footer .footer-inner {
  display: flex;
  justify-content: space-between;
  color: rgb(255, 255, 255);
}
footer .footer-inner .extra-links {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
footer .footer-inner .extra-links a {
  color: rgb(255, 255, 255);
}
footer .footer-inner .localization {
  text-transform: uppercase;
  font-weight: 700;
}
footer .footer-inner .outer:last-child {
  text-align: right;
}
footer .footer-inner .last {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
footer .footer-inner .last .inner a:not(:last-child) {
  margin-right: 1.875rem;
}
footer .footer-inner .font-awesome-icons-outer {
  display: flex;
}
footer .footer-inner .font-awesome-icons-outer .font-awesome-icons-inner {
  display: flex;
  align-items: center;
}
footer .footer-inner .font-awesome-icons-outer .font-awesome-icons-inner i {
  margin-right: 1.3125rem;
}
footer .footer-inner .font-awesome-icons-outer .font-awesome-icons-inner p {
  margin: 0;
}
footer .footer-inner .font-awesome-icons-outer .margin-left {
  margin-left: 3.75rem;
}
footer .footer-inner .margin-top {
  margin-top: 16px;
}

.log-in-page {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.log-in-page a {
  display: block;
  color: rgb(21, 35, 71);
}
.log-in-page a .continue-with {
  background: rgb(255, 255, 255);
  padding: 0 1.40625rem;
  display: flex;
  align-items: center;
  height: 56.9px;
}
.log-in-page a .continue-with p {
  display: inline-block;
  margin-bottom: 0;
  margin-left: 1.875rem;
}
.log-in-page a:not(:first-child) {
  margin-top: 1.875rem;
}
.log-in-page .log-in-image {
  display: flex;
  justify-content: center;
  align-items: center;
}
.log-in-page label {
  color: rgb(255, 255, 255);
}
.log-in-page span {
  color: rgb(255, 255, 255);
}
.log-in-page input.not-checkbox {
  width: 100%;
  padding: 0 1.40625rem;
  border: none;
  height: 56.9px;
  margin-bottom: 0.9375rem;
  margin-top: 0.375rem;
}
.log-in-page .log-in-help {
  display: flex;
  justify-content: space-between;
}
.log-in-page .or {
  width: 100%;
  text-align: center;
  border-bottom: 1px solid #000;
  line-height: 0.1em;
  margin: 10px 0 20px;
}
.log-in-page .or span {
  background-color: transparent;
  padding: 0 10px;
}
.log-in-page button {
  background: rgba(255, 255, 255, 0.4);
  border: 1.58px solid;
  border-image-source: linear-gradient(180deg, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0) 29.17%);
  box-shadow: 0px 6.32px 12.64px 0px rgba(66, 53, 107, 0.1);
  padding: 0.5625rem 0;
  width: 50%;
  border-radius: 6.32px;
  font-size: 18px;
  font-weight: 700;
  color: rgb(66, 53, 107);
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-top: 1.875rem;
}
.log-in-page button:hover {
  cursor: pointer;
}/*# sourceMappingURL=main.css.map */