@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

h1,
h2,
h3,
p,
ul {
  margin-top: 0;
}

img {
  display: inline-block;
  max-width: 100%;
}

a {
  text-decoration: none;
}

.discussion-page, .content-page, .content-page .content-cards, .log-in-page, footer .footer-inner, .sec-info {
  padding-top: 2.8125rem;
  padding-bottom: 2.8125rem;
}
@media (max-width: 768px) {
  .discussion-page, .content-page, .content-page .content-cards, .log-in-page, footer .footer-inner, .sec-info {
    padding-top: 1.875rem;
    padding-bottom: 1.875rem;
  }
}

.discussion-page, .content-page, .log-in-page, footer .footer-inner, .sec-info {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
@media (max-width: 768px) {
  .discussion-page, .content-page, .log-in-page, footer .footer-inner, .sec-info {
    width: 100%;
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
  }
}

.sec-info .sec-info-cards .sec-info-card button {
  padding: 10px 0;
  width: 100%;
  font-size: 22px;
  font-weight: 700;
  border: 2px;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.4);
}
.sec-info .sec-info-cards .sec-info-card button a {
  color: rgb(21, 35, 71);
}
.sec-info .sec-info-cards .sec-info-card button:hover {
  cursor: pointer;
}

.discussion-page h1, .content-page h1, .log-in-page h1, .sec-info h1 {
  font-size: 80px;
  font-weight: 900;
  color: hsla(0, 0%, 100%, 0.6);
  text-align: center;
}

.log-in-page .button-form, .sec-info-modal button {
  background: rgba(255, 255, 255, 0.4);
  border: 1.58px solid;
  border-image-source: linear-gradient(180deg, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0) 29.17%);
  box-shadow: 0px 6.32px 12.64px 0px rgba(66, 53, 107, 0.1);
  padding: 0.5625rem 0;
  width: 50%;
  border-radius: 6.32px;
  font-size: 18px;
  font-weight: 700;
  color: rgb(66, 53, 107);
  display: block;
  margin-right: auto;
  margin-left: auto;
}
.log-in-page .button-form:hover, .sec-info-modal button:hover {
  cursor: pointer;
}

.content-page .content-filters .content-filter-active, .content-page .content-filters .content-filter {
  border: 1px solid rgba(255, 255, 255, 0.7);
  border-radius: 24px;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0) 100%);
  box-shadow: 0px 8px 16px 0px rgba(66, 53, 107, 0.1);
  padding: 0.46875rem 0.9375rem;
  color: rgb(66, 53, 107);
  font-weight: 500;
}
.content-page .content-filters .content-filter-active:not(:last-child), .content-page .content-filters .content-filter:not(:last-child) {
  margin-right: 0.9375rem;
}
.content-page .content-filters .content-filter-active:hover, .content-page .content-filters .content-filter:hover {
  cursor: pointer;
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  line-height: 1.5;
  background: linear-gradient(rgba(131, 234, 177, 0.7), rgba(75, 124, 243, 0.7));
  color: rgb(21, 35, 71);
}

nav {
  background: linear-gradient(rgba(118, 79, 240, 0.4), rgba(118, 79, 240, 0));
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: rgb(66, 53, 107);
  padding: 10px 100px;
  box-shadow: 0px 8px 24px 0px rgba(66, 53, 107, 0.08);
}
nav p {
  margin: 0;
}
nav div {
  display: flex;
  align-items: center;
}
nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-left: 120px;
}
nav ul li a {
  font-size: 20px;
  color: rgb(66, 53, 107);
  font-weight: 700;
  text-transform: capitalize;
  transition: all 0.2s;
}
nav ul li a:hover {
  color: rgb(255, 255, 255);
}
nav ul li:not(:last-child) {
  margin-right: 30px;
}
nav .log-in-btn {
  border: 1.6px solid rgb(66, 53, 107);
  padding: 5px 10px;
  border-radius: 10px;
  margin-right: 30px;
  font-weight: 500;
  transition: all 0.2s;
}
nav .log-in-btn:hover {
  background: white;
  cursor: pointer;
}
nav .log-in-btn img {
  margin-right: 10px;
}
nav .localization {
  text-transform: uppercase;
  margin-right: 30px;
  font-weight: 700;
}

.sec-info {
  display: none;
}
.sec-info .sec-info-cards {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(3, 1fr);
}
.sec-info .sec-info-cards .sec-info-card {
  padding: 1.875rem;
  border-radius: 16px;
}
.sec-info .sec-info-cards .sec-info-card div {
  display: flex;
  align-items: center;
}
.sec-info .sec-info-cards .sec-info-card img {
  height: 100px;
}
.sec-info .sec-info-cards .sec-info-card .sec-info-title {
  font-size: 32px;
  font-weight: 700;
}
.sec-info .sec-info-cards .sec-info-card .details {
  padding: 2.8125rem 0;
  line-height: 32px;
}
.sec-info .sec-info-cards .purple {
  background: rgba(153, 70, 243, 0.4);
}
.sec-info .sec-info-cards .blue {
  background: rgba(75, 124, 243, 0.4);
}
.sec-info .sec-info-cards .green {
  background: rgba(131, 234, 177, 0.4);
}

footer {
  background: linear-gradient(180deg, rgba(66, 53, 107, 0.8) 0%, rgba(153, 70, 243, 0.16) 100%);
}
footer .footer-inner {
  display: flex;
  justify-content: space-between;
  color: rgb(255, 255, 255);
}
footer .footer-inner .extra-links {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
footer .footer-inner .extra-links a {
  color: rgb(255, 255, 255);
}
footer .footer-inner .localization {
  text-transform: uppercase;
  font-weight: 700;
}
footer .footer-inner .outer:last-child {
  text-align: right;
}
footer .footer-inner .last {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
footer .footer-inner .last .inner a:not(:last-child) {
  margin-right: 1.875rem;
}
footer .footer-inner .font-awesome-icons-outer {
  display: flex;
}
footer .footer-inner .font-awesome-icons-outer .font-awesome-icons-inner {
  display: flex;
  align-items: center;
}
footer .footer-inner .font-awesome-icons-outer .font-awesome-icons-inner i {
  margin-right: 1.3125rem;
}
footer .footer-inner .font-awesome-icons-outer .font-awesome-icons-inner p {
  margin: 0;
}
footer .footer-inner .font-awesome-icons-outer .margin-left {
  margin-left: 3.75rem;
}
footer .footer-inner .margin-top {
  margin-top: 16px;
}

.video {
  display: none;
}

.log-in-page {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  position: relative;
  display: none;
}
.log-in-page a {
  display: block;
  color: rgb(21, 35, 71);
}
.log-in-page a .continue-with {
  background: rgb(255, 255, 255);
  padding: 0 1.40625rem;
  display: flex;
  align-items: center;
  border: 1.58px solid rgb(153, 70, 243);
  border-radius: 3.95px;
  height: 56.9px;
}
.log-in-page a .continue-with p {
  display: inline-block;
  margin-bottom: 0;
  margin-left: 1.875rem;
}
.log-in-page a:not(:first-child) {
  margin-top: 1.875rem;
}
.log-in-page .log-in-image {
  display: flex;
  justify-content: center;
  align-items: center;
}
.log-in-page label {
  color: rgb(255, 255, 255);
}
.log-in-page span a {
  color: rgb(255, 255, 255);
}
.log-in-page input.not-checkbox {
  width: 100%;
  padding: 0 1.40625rem;
  border: 1.58px solid rgb(153, 70, 243);
  border-radius: 3.95px;
  height: 56.9px;
  margin-bottom: 0.9375rem;
  margin-top: 0.375rem;
}
.log-in-page .log-in-help {
  display: flex;
  justify-content: space-between;
}
.log-in-page .or {
  width: 100%;
  text-align: center;
  border-bottom: 1px solid #000;
  line-height: 0.1em;
  margin: 10px 0 20px;
}
.log-in-page .or span {
  background-color: transparent;
  padding: 0 10px;
}
.log-in-page .button-form {
  margin-top: 1.875rem;
}

.sec-info-modal {
  padding: 15rem 0;
  display: grid;
  align-content: center;
  background: linear-gradient(180deg, rgba(153, 70, 243, 0.8) 0%, rgba(66, 53, 107, 0.8) 100%);
  box-shadow: 0px 8px 16px 0px rgba(66, 53, 107, 0.1);
  border-radius: 32px;
  height: 25%;
  width: 60%;
  z-index: 999;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: rgb(255, 255, 255);
}
.sec-info-modal h2 {
  font-size: 64px;
  font-weight: 900;
  margin-bottom: 0.9375rem;
}
.sec-info-modal h4 {
  font-size: 40px;
  margin: 0;
  margin-bottom: 3.75rem;
}
.content-page {
  position: relative;
  display: none;
}
.content-page .type-of-content {
  display: flex;
  font-size: 36px;
  font-weight: 900;
  width: 70%;
  justify-content: space-around;
  margin-right: auto;
  margin-left: auto;
}
.content-page .type-of-content div {
  opacity: 0.4;
}
.content-page .type-of-content div:hover {
  cursor: pointer;
}
.content-page .type-of-content .type-of-content-active {
  opacity: 1;
}
.content-page .content-filters {
  display: flex;
  padding-top: 2.8125rem;
}
.content-page .content-filters .content-filter {
  opacity: 0.5;
}
.content-page .content-cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.875rem;
}
.content-page .content-cards .content-card {
  display: flex;
  align-items: end;
  height: 500px;
  background-image: url("../img/placeholder-image.jpg");
  background-position: center;
  background-size: cover;
  box-shadow: 0px 8px 16px 0px rgba(66, 53, 107, 0.3);
  border-radius: 16px;
  overflow: hidden;
}
.content-page .content-cards .content-card .card-content {
  padding: 1.40625rem;
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.8) 100%);
}
.content-page .content-cards .content-card .card-content .card-title {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 0.75rem;
}
.content-page .content-cards .content-card .card-content .card-date {
  opacity: 0.5;
  margin-top: 0.75rem;
}
.content-page .content-page-modal {
  position: absolute;
  top: 1.875rem;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  z-index: 999;
  background: rgba(255, 255, 255, 0.8);
  padding: 1.875rem;
  border-radius: 32px;
  display: flex;
  justify-content: space-between;
}
.content-page .content-page-modal .details-and-comments {
  flex-basis: 67.5%;
}
.content-page .content-page-modal .details-and-comments .details {
  margin-bottom: 2.8125rem;
}
.content-page .content-page-modal .details-and-comments .details h3 {
  font-size: 24px;
  font-weight: 700;
}
.content-page .content-page-modal .details-and-comments .comments .new-comment {
  border: 2px solid rgba(21, 35, 71, 0.5);
  border-radius: 16px;
  padding: 0.9375rem;
  margin-bottom: 0.9375rem;
}
.content-page .content-page-modal .details-and-comments .comments .new-comment input {
  display: block;
  width: 100%;
  background: transparent;
  border-top: transparent;
  border-left: transparent;
  border-right: transparent;
  border-bottom: 1px solid black;
  padding: 0.46875rem 0;
  font-size: 24px;
}
.content-page .content-page-modal .details-and-comments .comments .new-comment span {
  font-weight: 500;
  color: rgba(21, 35, 71, 0.5);
}
.content-page .content-page-modal .details-and-comments .comments .all-comments .comment {
  border: 2px solid rgba(21, 35, 71, 0.5);
  border-radius: 16px;
  padding: 0.9375rem;
}
.content-page .content-page-modal .details-and-comments .comments .all-comments .comment:not(:last-child) {
  margin-top: 0.9375rem;
}
.content-page .content-page-modal .details-and-comments .comments .all-comments .comment span {
  font-weight: 500;
}
.content-page .content-page-modal .details-and-comments ::-moz-placeholder {
  font-size: 24px;
}
.content-page .content-page-modal .details-and-comments ::placeholder {
  font-size: 24px;
}
.content-page .content-page-modal .modal-video {
  flex-basis: 30%;
}

.space-between {
  display: flex;
  justify-content: space-between;
}

.discussion-page .discussions {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.40625rem;
  height: 150vh;
  overflow-y: hidden;
}
.discussion-page .discussions input {
  display: block;
  width: 100%;
  background: transparent;
  border-top: transparent;
  border-left: transparent;
  border-right: transparent;
  border-bottom: 1px solid black;
  padding: 0.46875rem 0;
  font-size: 24px;
}
.discussion-page .discussions .new-discussion {
  background: rgba(255, 255, 255, 0.4);
  box-shadow: 0px 8px 16px 0px rgba(66, 53, 107, 0.1);
  padding: 1.875rem;
  border: 2px solid rgba(255, 255, 255, 0.3);
  border-radius: 16px;
  height: -moz-min-content;
  height: min-content;
  margin-bottom: 1.40625rem;
}
.discussion-page .discussions .new-discussion span {
  font-weight: 500;
  color: rgba(21, 35, 71, 0.5);
}
.discussion-page .discussions ::-moz-placeholder {
  font-size: 24px;
}
.discussion-page .discussions ::placeholder {
  font-size: 24px;
}
.discussion-page .discussions .discussion {
  box-shadow: 0px 8px 16px 0px rgba(66, 53, 107, 0.1);
  padding: 1.875rem;
  border: 2px solid rgba(0, 0, 0, 0.1);
  border-radius: 16px;
  height: -moz-min-content;
  height: min-content;
}
.discussion-page .discussions .discussion:not(:last-child) {
  margin-bottom: 0.9375rem;
}
.discussion-page .discussions .discussion span {
  font-weight: 500;
}
.discussion-page .blue {
  background: rgba(75, 124, 243, 0.4);
}
.discussion-page .green {
  background: rgba(131, 234, 177, 0.4);
}
.discussion-page .purple {
  background: rgba(143, 57, 236, 0.4);
}/*# sourceMappingURL=main.css.map */