@use "../abstracts/variables" as var;
@use "../abstracts/mixins" as mix;

body {
  font-family: var.$font-family-base;
  font-weight: var.$font-weight-normal;
  line-height: var.$line-height-base;
  background: var.$background-color-base;
  color: var.$text-color-base;
  font-size: var.$font-size-base;
  position: relative;
}

.pc-hidden {
  display: none;

  @media (max-width: 768px) {
    display: block;
  }

  @media (max-width: 425px) {
    display: block;
  }
}

.tablet-hidden {
  display: block;

  @media (max-width: 768px) {
    display: none;
  }

  @media (max-width: 425px) {
    display: block;
  }
}

.mobile-hidden {
  display: block;

  @media (max-width: 768px) {
    display: block;
  }

  @media (max-width: 425px) {
    display: none;
  }
}

.tablet-mobile-hidden {
  display: block;

  @media (max-width: 768px) {
    display: none;
  }

  @media (max-width: 425px) {
    display: none;
  }
}

.d-none {
  display: none;
}
