@use "../abstracts/variables" as var;
@use "../abstracts/mixins" as mix;

.filters {
  display: flex;

  @media screen and (max-width: 768px) {
    flex-direction: column;
  }

  .filter {
    display: flex;
    flex-basis: 33.333%;
    justify-content: space-around;
    align-items: center;
    padding: var.$gutter-base;
    border: none;

    &:not(:last-child) {
      border-right: 1px solid var.$background-color-primary;
    }

    p {
      font-size: var.$font-size-medium;
      text-align: left;
      margin: 0;
    }
  }
}

h2 {
  text-align: center;
  font-size: var.$heading-size-big;
  padding-top: var.$gutter-base;
  margin: 0;
}

.cards {
  @extend %section;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  width: 70%;
  margin-right: auto;
  margin-left: auto;

  @media screen and (max-width: 768px) {
    flex-direction: column;
  }

  .card {
    background-color: var.$background-color-tertiary;
    border-radius: 5px;
    overflow: hidden;
    flex-basis: 31%;

    .card-inner {
      padding: var.$gutter-base * 0.5;
      span {
        display: inline-block;
        background-color: var.$background-color-base;
        padding: var.$gutter-base * 0.2 var.$gutter-base * 0.7;
        border-radius: 5px;
        margin-bottom: 5px;
      }

      p {
        font-weight: var.$font-weight-bold;
        font-size: var.$font-size-medium;
        margin-bottom: 5px;
      }

      p.normal {
        font-weight: normal;
        margin-bottom: 10px;
      }

      small {
        font-weight: var.$font-weight-bold;
        display: block;
      }

      a {
        @extend %button;
        margin-top: var.$gutter-base;
      }
    }
  }
}
