@use "../abstracts/variables" as var;
@use "../abstracts/mixins" as mix;

.content-page {
  @extend %wrap;
  @extend %section;
  // display: none;

  h1 {
    @extend %h1-main;
  }

  .type-of-content-container {
    display: flex;
    font-size: 36px;
    font-weight: 900;
    width: 70%;
    justify-content: space-around;
    margin-right: auto;
    margin-left: auto;

    div {
      opacity: 0.4;

      &:hover {
        cursor: pointer;
      }
    }
  }

  .type-of-content.active {
    opacity: 1;
  }

  .type-of-content-carousel {
    text-align: center;
    display: flex;
    justify-content: space-between;

    .carousel-cycle {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .type-of-content-carousel-item {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 36px;
      font-weight: 900;
      display: none;
    }

    .type-of-content-carousel-item.active {
      display: block;
    }
  }

  .carousel-btns {
    margin-top: var.$gutter-base * 0.5;
    text-align: center;

    .carousel-btn {
      display: inline-block;
      height: 1rem;
      width: 1rem;
      border-radius: 50%;
      background: var.$text-color-base;
      opacity: 0.25;

      &:not(:last-child) {
        margin-right: var.$gutter-base * 0.5;
      }
    }

    .carousel-btn.active {
      opacity: 1;
    }
  }

  .content-filters {
    display: flex;
    text-wrap: nowrap;
    justify-content: center;
    padding-top: var.$gutter-base * 1.5;

    @media (max-width: 768px) {
      width: 100%;
      overflow-x: scroll;
      justify-content: start;
    }

    -ms-overflow-style: none;
    /* for Internet Explorer, Edge */
    scrollbar-width: none;
    /* for Firefox */

    &::-webkit-scrollbar {
      display: none;
      /* for Chrome, Safari, and Opera */
    }

    .content-filter.active {
      @extend %content-filter;
      opacity: 1;
    }

    .content-filter {
      @extend %content-filter;
      opacity: 0.5;
      text-transform: capitalize;
    }
  }

  .content-cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: var.$gutter-base * 0.75;
    @extend %section;

    @media (max-width: 768px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (max-width: 425px) {
      grid-template-columns: 1fr;
    }

    .content-card {
      display: flex;
      align-items: end;
      height: 500px;
      background-position: center;
      background-size: cover;
      box-shadow: 0px 8px 16px 0px rgba(66, 53, 107, 0.3);
      border-radius: 16px;
      overflow: hidden;
      position: relative;

      &:hover {
        cursor: pointer;
      }

      &:hover .play-button {
        opacity: 1;
      }

      .play-button {
        position: absolute;
        top: 25%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 36px;
        font-weight: 900;
        color: var.$text-color-secondary;
        background: rgba(0, 0, 0, 0.75);
        opacity: 0;
        transition: opacity 0.3s ease-in-out;
        font-size: 7rem;
      }

      .card-content {
        padding: var.$gutter-base * 0.75;
        background: linear-gradient(0deg,
            rgba(255, 255, 255, 0.7),
            rgba(255, 255, 255, 0.7)),
          linear-gradient(180deg,
            rgba(255, 255, 255, 0) 0%,
            rgba(255, 255, 255, 0.8) 100%);

        .card-title {
          font-size: 20px;
          font-weight: var.$font-weight-bold;
          margin-bottom: var.$gutter-base * 0.4;
        }

        .card-date {
          opacity: 0.5;
          margin-top: var.$gutter-base * 0.4;
        }
      }
    }
  }

  .modal-background {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    z-index: 998;
    display: none;
  }

  .content-page-modal {
    height: 90vh;
    width: 75%;
    position: fixed;
    top: var.$gutter-base;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
    background: rgba(255, 255, 255, 0.9);
    padding: var.$gutter-base;
    border-radius: 32px;
    display: none;
    justify-content: space-between;

    @media (max-width: 768px) {
      width: 80%;
      height: 90vh;
      overflow-y: scroll;
      left: 50%;
      top: 1rem;
      transform: translate(-50%, 0%);
    }

    @media (max-width: 425px) {
      width: 99%;
    }

    -ms-overflow-style: none;
    scrollbar-width: none;

    &::-webkit-scrollbar {
      display: none;
    }

    .details-and-comments {
      flex-basis: 67.5%;

      @media (max-width: 768px) {
        flex-basis: 100%;
      }

      .details {
        margin-bottom: var.$gutter-base * 1.5;

        p {
          overflow-y: scroll;
          height: 6.875rem;
        }

        h3 {
          font-size: var.$font-size-big;
          font-weight: var.$font-weight-bold;
          margin-bottom: 0;
          color: var.$text-color-primary;
        }

        div {
          color: rgba(21, 35, 71, 0.5);
        }
      }

      .modal-title {
        display: flex;
        justify-content: space-between;
        margin-bottom: 24px;
      }

      #modalClose {
        background: transparent;
        border: none;
        color: red;
        font-size: 1.5rem;

        &:hover {
          cursor: pointer;
        }
      }

      .comments {
        .new-comment {
          border: 2px solid rgba(21, 35, 71, 0.5);
          border-radius: 16px;
          padding: var.$gutter-base * 0.5;
          margin-bottom: var.$gutter-base * 0.5;

          input {
            display: block;
            width: 100%;
            background: transparent;
            border-top: transparent;
            border-left: transparent;
            border-right: transparent;
            border-bottom: 1px solid black;
            padding: var.$gutter-base * 0.25 0;
            font-size: var.$font-size-big;
            margin-bottom: 1rem;
          }

          span {
            font-weight: 500;
            color: rgba(21, 35, 71, 0.5);
          }
        }

        .all-comments {
          height: 345px;
          overflow-y: scroll;

          @media (max-width: 1680px) {
            height: 163px;
          }

          @media (max-width: 768px) {
            height: 345px;
          }

          -ms-overflow-style: none;
          scrollbar-width: none;

          &::-webkit-scrollbar {
            display: none;
          }

          .comment {
            border: 2px solid rgba(21, 35, 71, 0.5);
            border-radius: 16px;
            padding: var.$gutter-base * 0.5;

            &:not(:last-child) {
              margin-bottom: var.$gutter-base * 0.5;
            }

            span {
              font-weight: 500;
            }
          }
        }
      }

      ::placeholder {
        font-size: var.$font-size-big;
      }
    }

    .modal-video {
      flex-basis: 30%;
    }

    .profile-modal {
      width: min-content;
      // display: none;
    }
  }
}

.space-between {
  display: flex;
  justify-content: space-between;
}

.d-flex {
  display: flex;
}

.aic {
  align-items: center;
}

.profile-img {
  border: 1.6px solid rgba(66, 53, 107, 1);
  width: 50px;
  height: 50px;
  margin-right: 1rem;
  border-radius: 50%;
  overflow: hidden;

  a {
    height: 100%;
    width: 100%;
  }
}