@use "../abstracts/variables" as var;
@use "../abstracts/mixins" as mix;

.contact-page {
  @extend %wrap;
  @extend %section;
  display: none;

  h1 {
    @extend %h1-main;
    margin-top: 0;
  }

  h3 {
    font-size: var.$heading-size-small;
    font-weight: var.$font-weight-bold;
    margin-top: 0;
  }

  h4 {
    font-size: var.$font-size-big;
    font-weight: 600;
    color: var.$text-color-tertiary;
    margin-top: 0;
  }

  .contact-container {
    padding: var.$gutter-base * 0.75;
    display: flex;
    background: rgba(255, 255, 255, 0.4);
    border: 2px solid;
    border-image-source: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0.4) 0%,
      rgba(255, 255, 255, 0) 100%
    );
    border-radius: 16px;

    @media (max-width: 768px) {
      flex-direction: column;
    }

    .contact-details {
      flex-basis: 70%;
    }

    .contact-link {
      flex-basis: 30%;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    a {
      color: var.$text-color-secondary;
      font-weight: var.$font-weight-bold;
      font-size: 22px;
      background: rgba(153, 70, 243, 1);
      padding: var.$gutter-base * 0.25 var.$gutter-base * 2;
      border-radius: 8px;
      border: 2px solid;
      border-image-source: linear-gradient(
        180deg,
        rgba(255, 255, 255, 0.4) 0%,
        rgba(255, 255, 255, 0) 29.17%
      );
    }
  }
}

.marb-gutter-base-3 {
  margin-bottom: var.$gutter-base * 3;
}

.marb-gutter-base {
  margin-bottom: var.$gutter-base;
}
