@use "../abstracts/variables" as var;
@use "../abstracts/mixins" as mix;

.discussion-page {
  @extend %wrap;
  @extend %section;
  position: relative;
  display: none;

  h1 {
    @extend %h1-main;
  }

  .discussions {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var.$gutter-base * 0.75;
    height: 150vh;
    overflow-y: hidden;

    @media (max-width: 768px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (max-width: 425px) {
      grid-template-columns: 1fr;
    }

    input {
      display: block;
      width: 100%;
      background: transparent;
      border-top: transparent;
      border-left: transparent;
      border-right: transparent;
      border-bottom: 1px solid black;
      padding: var.$gutter-base * 0.25 0;
      font-size: var.$font-size-big;
    }

    .new-discussion {
      background: rgba(255, 255, 255, 0.4);
      box-shadow: 0px 8px 16px 0px rgba(66, 53, 107, 0.1);
      padding: var.$gutter-base;
      border: 2px solid rgba(255, 255, 255, 0.3);
      border-radius: 16px;
      height: min-content;
      margin-bottom: var.$gutter-base * 0.75;

      span {
        font-weight: 500;
        color: rgba(21, 35, 71, 0.5);
      }
    }

    ::placeholder {
      font-size: var.$font-size-big;
    }

    .discussion {
      box-shadow: 0px 8px 16px 0px rgba(66, 53, 107, 0.1);
      padding: var.$gutter-base;
      border: 2px solid rgba(0, 0, 0, 0.1);
      border-radius: 16px;
      height: min-content;

      &:not(:last-child) {
        margin-bottom: var.$gutter-base * 0.5;
      }

      span {
        font-weight: 500;
      }
    }
  }

  .blue {
    background: rgba(75, 124, 243, 0.4);
  }

  .green {
    background: rgba(131, 234, 177, 0.4);
  }

  .purple {
    background: rgba(143, 57, 236, 0.4);
  }

  .blur {
    position: absolute;
    bottom: var.$gutter-base * 1.5;
    width: 100%;
    text-align: center;
    color: var.$text-color-secondary;
    padding: var.$gutter-base 0;
    background: linear-gradient(rgb(135, 175, 239, 0), rgb(135, 175, 239, 1));

    @media (max-width: 768px) {
      bottom: 30px;
      right: 0;
      left: 0;
    }

    i {
      margin-right: var.$gutter-base * 0.5;
    }

    .blur-inner {
      display: inline-block;

      &:hover {
        cursor: pointer;
      }
    }
  }
}
