@use "../abstracts/variables" as var;
@use "../abstracts/mixins" as mix;

footer {
  background: linear-gradient(
    180deg,
    rgba(66, 53, 107, 0.8) 0%,
    rgba(153, 70, 243, 0.16) 100%
  );
  .footer-inner {
    display: flex;
    justify-content: space-between;
    @extend %wrap;
    @extend %section;
    color: var.$text-color-secondary;

    @media (max-width: 768px) {
      flex-direction: column;
      text-align: center;
    }

    @media (max-width: 425px) {
      text-align: left;
    }

    .logo-footer {
      img {
        @media (max-width: 768px) {
          width: 5rem;
        }
      }
    }

    .extra-links {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      div {
        @media (max-width: 768px) {
          margin-bottom: 1.5rem;
        }
      }
      a {
        color: var.$text-color-secondary;
      }
    }

    .localization {
      text-transform: uppercase;
      font-weight: var.$font-weight-bold;
    }

    .outer {
      &:last-child {
        text-align: right;

        @media (max-width: 768px) {
          text-align: center;
        }
      }
    }

    .last {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .inner {
        a {
          &:not(:last-child) {
            margin-right: var.$gutter-base;
          }
        }
      }
    }

    .font-awesome-icons-outer {
      display: flex;

      @media (max-width: 768px) {
        margin-bottom: 1.5rem;
        justify-content: center;
      }

      @media (max-width: 425px) {
        justify-content: space-between;
      }

      .font-awesome-icons-inner {
        display: flex;
        align-items: center;

        i {
          margin-right: var.$gutter-base * 0.7;
        }

        p {
          margin: 0;
        }
      }

      .margin-right {
        margin-right: var.$gutter-base * 2;

        @media (max-width: 425px) {
          margin-right: 0;
        }
      }
    }

    .margin-top {
      margin-top: 16px;
    }
  }

  @media (max-width: 768px) {
    .marb-1-5rem {
      margin-bottom: 1.5rem;
    }
  }
}
