@use "../abstracts/variables" as var;
@use "../abstracts/mixins" as mix;

nav {
  @extend %wrap;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-top: var.$gutter-base * 0.3;
  padding-bottom: var.$gutter-base * 0.3;
  font-weight: var.$font-weight-bold;

  @media screen and (max-width: 768px) {
    justify-content: space-between;
    padding-top: var.$gutter-base * 0.1;
    padding-bottom: var.$gutter-base * 0.1;
  }

  img {
    width: 80px;

    @media (max-width: 768px) {
      width: 60px;
    }
  }

  ul {
    padding-left: 0;
    margin-bottom: 0;
    display: flex;
    list-style: none;

    li:not(:last-child) {
      margin-right: var.$gutter-base;
    }

    li a {
      color: var.$text-color-base;
    }
  }

  .button {
    @extend %button;
  }

  .hamburger {
    display: none;
    cursor: pointer;
  }

  .bar {
    display: block;
    width: 30px;
    height: 3px;
    margin: 7px auto;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    background-color: var.$background-color-primary;
  }

  .lg-hidden {
    display: none;
  }

  @media (max-width: 768px) {
    .lg-hidden {
      display: inline-block;
    }

    .md-hidden {
      display: none;
    }

    .hamburger {
      display: block;
    }

    .hamburger.active .bar:nth-child(2) {
      opacity: 0;
    }
    .hamburger.active .bar:nth-child(1) {
      transform: translateY(10px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3) {
      transform: translateY(-10px) rotate(-45deg);
    }

    .nav-menu {
      position: fixed;
      right: -100%;
      top: 0;
      bottom: 0;
      gap: 0;
      flex-direction: column;
      background-color: #262626;
      width: 100%;
      transition: 0.3s;
      padding-top: var.$gutter-base * 2;
      padding-left: var.$gutter-base;
    }

    .nav-item {
      margin: 16px 0;

      a {
        color: var.$text-color-primary;
      }
    }

    .nav-menu.active {
      right: 0;
    }
  }
}
