@use "../abstracts/variables" as var;
@use "../abstracts/mixins" as mix;

nav {
  background: var.$background-color-nav;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var.$text-color-primary;
  padding: 0.625rem 6.25rem;
  box-shadow: 0px 8px 24px 0px rgba(66, 53, 107, 0.08);

  @media (max-width: 768px) {
    padding: 0.313rem 1rem;
  }

  p {
    margin: 0;
  }

  .logo {
    a {
      width: 90%;

      @media (max-width: 768px) {
        width: 60%;
      }
    }
  }

  div {
    display: flex;
    align-items: center;
  }

  ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    margin-left: 120px;

    li {
      a {
        font-size: var.$font-size-medium;
        color: var.$text-color-primary;
        font-weight: var.$font-weight-bold;
        text-transform: capitalize;
        transition: all 0.2s;

        &:hover {
          color: var.$text-color-secondary;
        }
      }

      &:not(:last-child) {
        margin-right: 30px;
      }
    }
  }

  .log-in-btn {
    border: 1.6px solid var.$text-color-primary;
    padding: 5px 10px;
    border-radius: 10px;
    margin-right: 30px;
    font-weight: 500;
    transition: all 0.2s;
    display: none;

    &:hover {
      background: white;
      cursor: pointer;
    }

    img {
      margin-right: 10px;
      @media (max-width: 768px) {
        width: 15%;
      }
    }
  }

  .profile-nav {
    display: none;

    .profile-img {
      border: 1.6px solid rgba(66, 53, 107, 1);
      width: 50px;
      height: 50px;
      border-radius: 50%;
      margin-right: 30px;
      overflow: hidden;

      a {
        height: 100%;
        width: 100%;
      }
    }
  }

  .localization {
    text-transform: uppercase;
    margin-right: 30px;
    font-weight: var.$font-weight-bold;
  }

  .burger {
    margin-left: 30px;

    .navigation-burger {
      display: none;
    }
  }

  .search {
    display: grid;
    align-content: center;
  }
}
