@use "../abstracts/variables" as var;
@use "../abstracts/mixins" as mix;

.sec-info {
  @extend %section;
  @extend %wrap;
  // display: none;

  h1 {
    @extend %h1-main;
    text-align: center;
  }

  .sec-info-cards {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(3, 1fr);

    @media (max-width: 768px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (max-width: 425px) {
      grid-template-columns: 1fr;
    }

    .sec-info-card {
      padding: var.$gutter-base;
      border-radius: 16px;

      div {
        display: flex;
        align-items: center;
      }

      img {
        height: 6.25rem;
      }

      .sec-info-title {
        font-size: var.$heading-size-small;
        font-weight: var.$font-weight-bold;
      }

      .details {
        padding: var.$gutter-base * 1.5 0;
        line-height: 32px;
      }

      a {
        @extend %sec-button;
      }
    }
  }
}

.purple {
  background: rgba(153, 70, 243, 0.4);
}
.blue {
  background: rgba(75, 124, 243, 0.4);
}
.green {
  background: rgba(131, 234, 177, 0.4);
}
