@use "sass:math";

@function rem-calc($size) {
  @return (math.div($size, 16)) * 1rem;
}

// Font settings
$font-family-base: "Montserrat", sans-serif;

$font-size-base: clamp(1rem, 0.938vw, 1.25rem);
$font-size-small: clamp(1.25rem, 1.042vw, 1.4rem);
$font-size-medium: clamp(1.275rem, 1.146vw, 1.5rem);
$font-size-big: clamp(1.375rem, 1.25vw, 1.75rem);

$heading-size-small: clamp(1.5rem, 1.667vw, 2.5rem);
$heading-size-medium: clamp(1.875rem, 3.333vw, 4.375rem);
$heading-size-big: clamp(2.5rem, 4.167vw, 6.25rem);

$line-height-base: 1.5;

$font-weight-normal: 400;
$font-weight-bold: 700;

// Size settings
$gutter-base: rem-calc(30);

// Color settings
$text-color-base: rgba(21, 35, 71, 1);
$text-color-primary: rgba(66, 53, 107, 1);
$text-color-secondary: rgba(255, 255, 255, 1);
$text-color-tertiary: rgba(118, 79, 240, 1);
// $text-color-secondary: #000;

$background-color-nav: linear-gradient(
  rgba(118, 79, 240, 0.4),
  rgba(118, 79, 240, 0)
);

$background-color-base: linear-gradient(
  rgba(131, 234, 177, 0.7),
  rgba(75, 124, 243, 0.7)
);
$background-color-secondary: rgba(255, 255, 255, 1);
